// hero styling

.hero{
    width: 100vw;

    @include breakpoint-up(large){
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        z-index: 0;
    }
    

    &__text{
        flex: 1;
        margin-top: rem(50);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        align-items: center;
        padding: 0 rem(30);

        @include breakpoint-up(large){
            text-align: left;
            align-items: flex-start;
            padding: 0 0 0 rem(50);
        }
    }

    &__illustration{
        flex: 2;
        position: relative;
        height: rem(280);
        background-image: url(../../images/bg-intro-mobile.svg);
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center  rem(-50);
        z-index: -2;

        &::before{
            content: "";
            position: absolute;
            background-image: url(../../images/image-mockups.png);
            width: 100%;
            background-size: 94%;
            background-repeat: no-repeat;
            background-position: center bottom;
            
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            @include breakpoint-up(large){
                display: none;
            }


        }

        @include breakpoint-up(large){
            background-image: url(../../images/bg-intro-desktop.svg);
            height: rem(700);
            background-size: cover; 
            background-position: top  bottom;
            position: relative;
            z-index: 0;
        }
        
    }
}

.hero__image {
    display: none;

    @include breakpoint-up(large) {
        height: 700px;
        display: block;

        
    img {
            position: relative;
            margin-right: -60rem;
            z-index: 1;
            transform: translateX(15.5rem) translateY(-8rem);
        }   
    }
}