@import "variables";
@import "mixins";


html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    margin:0 ;
    padding: 0;
    box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin:  0 auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a, a:hover, a:active{
    text-decoration: none;
    color: $clr-grayishBlue;
}


img{
    width: 100%;
    height: auto;
    display: block;
}

//button styling

button,.button{
    padding:  0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, $clr-limeGreen, $clr-brightCyan);
    border: 0;
    color: $clr-white;
    font-weight: 400;
}

//visibility
.hide-for-mobile{ //hide elements in mobile view
    @include breakpoint-down(medium){
        display:none;
    }
}

.hide-for-desktop{ //hide elements in desktopview
    @include breakpoint-up(large){
        display:none;
    }
}

.page-container{
    margin: 0 auto;
    padding: 0 rem(50);
}

.header{

    display: flex;
    justify-content: space-between;
    padding: rem(20) 0;
    background: white;

    // hamburger open Class to be added via the DOM when I click the hamburger menu

    &.open{

        //adds fade-in animation to the overlay once the hambuger menu is clicked and the overlay appears
        .overlay{
            display: block;
            animation: fade-in 300ms ease-in-out forwards;
        }

        // dropdown options
        .drop-down{
            height: 16rem;
            width: 20rem;
            background: white;
            position: fixed;
            left: auto;
            right: auto;
            top: rem(100);
            display: flex;
            flex-direction: column;
            gap: rem(20);

            a{
                font-size: $font-med;
                font-weight: 400;
                transition: color 300ms ease-in-out;
                margin: 0 auto;

                &:first-child{
                    margin-top: rem(20);
                }

                &:hover{
                    color: $clr-darkBlue;
                }
                
            }
        }

        .header__menu{
            
            >span:first-child{
                transform:rotate(45deg);
                
            }

            >span:nth-child(2){
                opacity: 0;
            }

            >span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .logo{
        flex: 1;
        img{
            width:rem(141);
            height: rem(22);
        }

        @include breakpoint-down(medium){
            flex: 18;
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 2;

        @include breakpoint-down(medium){
            flex: 1;
        }
    }

    &__menu{
        
        >span{ //hamburger menu styling
            display: block;
            width:26px;
            height: 2px;
            background: $clr-darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: rem(5);
            }
        }
    }

    &__link{        

        a{
            position: relative;
            font-size: $font-sm;
            font-weight: 400;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: rem(20);
            }

            // styling for little tab that appears when you hvaer the tab links 
            &::before{
                position: absolute;
                content: "";
                display: block;
                background: linear-gradient(to right, $clr-limeGreen, $clr-brightCyan);             
                left: 0;
                right: 0;
                height: rem(5);
                margin-top: rem(25);
                opacity: 0;
                transition: opacity 300ms ease-in-out;

            }
            &:hover{
                color: $clr-darkBlue;

                &::before{
                    opacity: 1;
                }
            }
        }
        
    }
    
    &__cta{
        &:hover{
            opacity: 0.7;
            transition: opacity 300ms ease-in-out;
        }
    }

    //overlay design that occurs whn the hamburger is clicked
    .overlay{
        position:absolute;
        display: none;
        top: 3.9rem;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($clr-darkBlue, transparent);
    }

    // fadeout class with fadeout animate that occurs when the hamburge menu closes
    &.fadeout{
        .overlay{
            animation: fade-out 300ms ease-in-out forwards;
        }

    }

    .drop-down{
        display: none;
    }

}

.hero{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100vw;

    &__text{
        flex: 1;

    }

    &__illustration{
        flex: 3;
        
        background-image: url(../../images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: left;
        
        margin-top: rem(-100);
        z-index: -1;

        img{
            z-index: -2;
            position: absolute;
            width: rem(750);
            height: rem(750);
            right: 0;
            top: rem(-30);
        }
        
    }
}