@import "variables";
@import "mixins";


html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    margin:0 ;
    padding: 0;
    box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin:  0 auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a, a:hover, a:active{
    text-decoration: none;
    color: $clr-grayishBlue;
}


img{
    width: 100%;
    height: auto;
    display: block;
}

//button styling

button,.button{
    padding:  0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, $clr-limeGreen, $clr-brightCyan);
    border: 0;
    color: $clr-white;
    font-weight: 400;
}

//visibility
.hide-for-mobile{
    @include breakpoint-down(medium){
        display:none;
    }

}

.hide-for-desktop{

    @include breakpoint-up(large){
        display:none;
    }

}

.page-container{
    margin: 0 auto;
    padding: 0 rem(50);
}

.header{

    display: flex;
    justify-content: space-between;
    padding: rem(20) 0;

    .logo{
        flex: 1;
        img{
            width:rem(141);
            height: rem(22);
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 2;
    }

    &__menu{
        
        >span{
            display: block;
            width:26px;
            height: 2px;
            background: $clr-darkBlue;

            &:not(:last-child){
                margin-bottom: rem(5);
            }
        }
    }

    &__link{        

        a{
            position: relative;
            font-size: $font-sm;
            font-weight: 400;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: rem(20);
            }

            &::before{
                position: absolute;
                content: "";
                display: block;
                background: linear-gradient(to right, $clr-limeGreen, $clr-brightCyan);
                
                left: 0;
                right: 0;
                height: rem(5);
                margin-top: rem(25);
                opacity: 0;
                transition: opacity 300ms ease-in-out;

            }
            &:hover{
                color: $clr-darkBlue;

                &::before{
                    opacity: 1;
                }
            }
        }
        
    }

    &__cta{
        &:hover{
            opacity: 0.7;
            transition: opacity 300ms ease-in-out;
        }
    }
}