html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a, a:hover, a:active {
  text-decoration: none;
  color: #9698a6;
}

h1 {
  font-size: 2.625rem;
  font-weight: 300;
  text-align: center;
  color: #2d314d;
  line-height: 1.3;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    text-align: left;
  }
}

h2 {
  color: #2d314d;
  line-height: 1.3;
  font-size: 2.25rem;
  font-weight: 300;
}

h3 {
  color: #2d314d;
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  color: #2d314d;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: #9698a6;
  font-weight: 400;
  line-height: 1.7;
}

img {
  height: auto;
  display: block;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  max-width: 12.5rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border: 0;
  color: white;
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .hide-for-tablet {
    display: none;
  }
}

.page-container {
  margin: 0 auto;
}

.section {
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
  background: blue;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  background: red;
}

.btnJump {
  height: 50px;
  width: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 6.25rem;
  position: fixed;
  top: 80vh;
  right: 1.25rem;
  background-color: #31d35c;
}

.btnJump i {
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 1.875rem;
  background: white;
  position: relative;
  z-index: 100000;
}

@media (min-width: 40em) {
  .header {
    padding: 1.25rem 3.125rem;
  }
}

.header.open .overlay {
  display: block;
  position: absolute !important;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@media (min-width: 1024px) {
  .header.open .overlay {
    display: none;
  }
}

.header.open .drop-down {
  position: absolute;
  height: 17.5rem;
  width: 25rem;
  background: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.625rem;
}

@media (max-width: 417px) {
  .header.open .drop-down {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .header.open .drop-down {
    display: none;
  }
}

.header.open .drop-down a {
  font-size: 1.125rem;
  font-weight: 400;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  margin: 0 auto;
}

.header.open .drop-down a:first-child {
  margin-top: 1.25rem;
}

.header.open .drop-down a:hover {
  color: #2d314d;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .logo .easy-logo {
  width: 8.8125rem;
  height: 1.375rem;
}

@media (max-width: 63.9375em) {
  .header .logo {
    -webkit-box-flex: 18;
        -ms-flex: 18;
            flex: 18;
  }
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 87.4375em) {
  .header nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header__link a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__link a:not(:last-child) {
  margin-right: 1.25rem;
}

.header__link a::before {
  position: absolute;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  left: 0;
  right: 0;
  height: 0.3125rem;
  margin-top: 1.5625rem;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__link a:hover {
  color: #2d314d;
}

.header__link a:hover::before {
  opacity: 1;
}

.header__cta:hover {
  opacity: 0.7;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header .overlay {
  position: absolute;
  display: none;
  top: 7rem;
  right: 0;
  height: 100vh;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header.fadeout .overlay {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header .drop-down {
  display: none;
}

.hero {
  width: 100vw;
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 0;
  }
}

.hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3.125rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.875rem;
}

@media (min-width: 64em) {
  .hero__text {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 3.125rem;
  }
}

.hero__illustration {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  height: 17.5rem;
  background-image: url(../../images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -3.125rem;
  z-index: -2;
}

.hero__illustration::before {
  content: "";
  position: absolute;
  background-image: url(../../images/image-mockups.png);
  width: 100%;
  background-size: 94%;
  background-repeat: no-repeat;
  background-position: center bottom;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 64em) {
  .hero__illustration::before {
    display: none;
  }
}

@media (min-width: 64em) {
  .hero__illustration {
    background-image: url(../../images/bg-intro-desktop.svg);
    height: 43.75rem;
    background-size: cover;
    background-position: top  bottom;
    position: relative;
    z-index: 0;
  }
}

.hero__image {
  display: none;
}

@media (min-width: 64em) {
  .hero__image {
    height: 700px;
    display: block;
  }
  .hero__image img {
    position: relative;
    margin-right: -60rem;
    z-index: 1;
    -webkit-transform: translateX(15.5rem) translateY(-8rem);
            transform: translateX(15.5rem) translateY(-8rem);
  }
}

.services {
  margin-top: 6.25rem;
  padding: 1.875rem;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1.25rem;
}

@media (min-width: 64em) {
  .services {
    margin-top: 0;
    padding: 6.25rem 3.125rem;
    gap: 6.25rem;
    text-align: left;
  }
}

.services__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.services__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 64em) {
  .services__service {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__service-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

@media (min-width: 64em) {
  .services__service-option {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.services__service-option > img {
  width: 3.125rem;
  height: 3.125rem;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  padding: 6.25rem 3.125rem;
}

@media (min-width: 64em) {
  .article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.article h2 {
  margin-bottom: 1.875rem;
}

.article .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .article .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.article__card {
  max-width: 100%;
  background: white;
  border-radius: 0.5rem;
  min-height: 28.125rem;
}

.article__card img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.article__card-text {
  padding: 1.875rem;
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.article__card-text > span {
  display: block;
  font-size: 0.75rem;
  color: #9698a6;
  font-weight: 700;
}

.article__card-text > p {
  font-size: 0.875rem;
}

.footer {
  background: #2d314d;
  padding: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-section {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

@media (min-width: 64em) {
  .footer-section:first-of-type {
    gap: 3.125rem;
  }
}

.footer__logo {
  margin: 0 auto;
}

@media (min-width: 64em) {
  .footer__logo {
    margin: 0;
  }
}

.footer__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sm a > img:hover {
  color: #31d35c;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3.125rem;
  }
}

.footer__links .link-right, .footer__links .link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer__links .link-right, .footer__links .link-left {
    text-align: left;
  }
}

.footer__links .link-right a, .footer__links .link-left a {
  color: white;
}

.footer__links .link-right a:hover, .footer__links .link-left a:hover {
  color: #31d35c;
}

.footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__cta .button:hover {
  opacity: 0.8;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

@media (min-width: 64em) {
  .footer__cta {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */