@import "variables";
@import "mixins";
@import "global";
@import "header";
@import "hero";





.page-container{
    margin: 0 auto;
    // padding: 0 rem(50);
}



.services{
    margin-top: rem(100);
    padding: rem(30);
    background: $clr-veryLightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: rem(20);

    &__intro{
        display: flex;
        flex-direction: column;
        gap: rem(20);

    }

    &__service{
        display: flex;
        flex-direction: column;
        gap: rem(20);

        &-option{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: rem(20);

            >img{
                width: rem(50);
                height: rem(50);
            }
        }
    }
}